<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>fruit</title>
<link rel="stylesheet" href="/style.css">
</head>
<body>
	<hr>
	<div>
	<h2>좋아하는 과일</h2>
	<form method="post" action="/fruit/survey">
		<input type="radio" name="fruitType" value="블루베리">블루베리<p>
		<input type="radio" name="fruitType" value="망고">망고<p>
		<input type="radio" name="fruitType" value="복숭아">복숭아<p>
		<input type="radio" name="fruitType" value="사과">사과<p>
		<input type="radio" name="fruitType" value="멜론">멜론<p>
		<button type="submit">선택</button>
	</form>
	<img src="https://cdn.pixabay.com/photo/2015/12/30/11/57/fruits-1114060_1280.jpg" alt="과일 모음">
</div>
</body>
</html>